<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0" />
    {% load static %}
    <link rel="stylesheet" href="{% static 'ads/css/bootstrap.min.css' %}" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU"
        crossorigin="anonymous">
    <link href='http://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
    {%block css %} {% endblock %}
    <script type="text/javascript" src="{% static 'ads/js/jquery-3.3.1.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'ads/js/popper.js' %}"></script>
    <script type="text/javascript" src="{% static 'ads/js/bootstrap.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'ads/js/d3.min.js' %}"></script>
    {% block scripts %} {% endblock %}
    <title>{% block title %}{% endblock %}</title>
</head>

<body>
    <div class="container-fluid">
        {% block content %}{% endblock %}
    </div>
</body>

</html>