{% extends "ads/base.html" %}
{% load static %}

{% block css %}
<link rel="stylesheet" type="text/css" href="{% static 'ads/css/index.css' %}" />
{% endblock %}

{% block scripts %}
<script type="text/javascript" src="{% static 'ads/js/index.js' %}"></script>
{% endblock %}

{% block title %}Java Coffee House{% endblock %}

{% block content %}
<div class="row">
    <div class="col-sm-12">
        <div class="row justify-content-center" style="padding-top: 50px">
            <iframe src="http://adm.brandfi.co.ke/ads/random-ad/content/high/" style="overflow:hidden;"></iframe>
        </div>
        <br />
        <div class="row justify-content-center">
            <a href="{{ url }}"><button class="btn btn-artcaffee">CONTINUE</button></a>
        </div>
    </div>
</div>
<br />
<footer class="footer text-center">
    <div class="container">
        <h6 style="font-weight: bold; font-size: 14px;">&copy; Copyright 2018 Java House Kenya</h6>
    </div>
</footer>
{% endblock %}